{% extends "base.html" %}

{% block title %}
    Об авторах
{% endblock %}

{% block body %}
    <h1 class="title">Об авторах</h1>

    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="width: 17rem;">
                <img class="card-img-top"
                     height="400px;"
                     src="{{ url_for('static', filename='images/authors/alse.jpg') }}">
                <div class="card-body">
                    <h5 class="card-title">Селютин Александр</h5>
                    <p class="card-text">
                        Студент СГТУ им. Гагарина Ю.А.
                    </p>
                </div>
                <div class="card-body">
                    <a href="https://vk.com/idev_galua"
                       target="_blank"
                       class="btn btn-primary">
                        Контакты
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="width: 17rem;">
                <img class="card-img-top"
                     height="400px;"
                     src="{{ url_for('static', filename='images/authors/mibo.jpg') }}">
                <div class="card-body">
                    <h5 class="card-title">Большелапов Михаил</h5>
                    <p class="card-text">
                        Студент СГТУ им. Гагарина Ю.А.
                    </p>
                </div>
                <div class="card-body">
                    <a href="https://vk.com/big____foot"
                       target="_blank"
                       class="btn btn-primary">
                        Контакты
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="width: 17rem;">
                <img class="card-img-top"
                     height="400px;"
                     src="{{ url_for('static', filename='images/authors/egza.jpg') }}">
                <div class="card-body">
                    <h5 class="card-title">Егор Зайцев</h5>
                    <p class="card-text">
                        Студент СГТУ им. Гагарина Ю.А.
                    </p>
                </div>
                <div class="card-body">
                    <a href="https://vk.com/s8881242"
                       target="_blank"
                       class="btn btn-primary">
                        Контакты
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card" style="width: 17rem;">
                <img class="card-img-top"
                     height="400px;"
                     src="{{ url_for('static', filename='images/authors/vaku.jpg') }}">
                <div class="card-body">
                    <h5 class="card-title">Кушников Вадим Алексеевич</h5>
                    <p class="card-text">
                        Доктор технических наук,
                        <br/>
                        профессор СГТУ им.
                        <br/>
                        Гагарина Ю.А.
                    </p>
                </div>
                <div class="card-body">
                    <a href="https://www.sstu.ru/teachers/515-kushnikov_vadim_alekseevich.html"
                       target="_blank"
                       class="btn btn-primary">
                        Контакты
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}