{% extends "base.html" %}
{% block title %}
    Документы
{% endblock %}

{% block body %}
    <h1>
        Таблица с документами по описанию
        <br/>
        работы системы оценки качества ПО
    </h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название документа</th>
            <th scope="col">Описание</th>
            <th scope="col">Ссылка</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Моделируемые переменные</td>
            <td>Выбор переменных из ГОСТ Р ИСО/МЭК 9126-2001 <br/> в качестве основных показателей функционирования информационных систем</td>
            <td><a href="{{ url_for('static', filename='documents/modeled_variables.pdf') }}" target="_blank">Скачать</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Системы уравнений</td>
            <td>Составлены матрица причинно-следственных связей, подграфы и уравнения для моделируемой системы</td>
            <td><a href="{{ url_for('static', filename='documents/systems_of_equations.pdf') }}" target="_blank">Скачать</a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Обоснование</td>
            <td>Приведено текстовое обоснование переменных для составленного графа причинно-следственных связей</td>
            <td><a href="{{ url_for('static', filename='documents/justification.pdf') }}" target="_blank">Скачать</a></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Решение системы диф. уравнений</td>
            <td>Приведено решение системы дифференциальных уравнений</td>
            <td><a href="{{ url_for('static', filename='documents/solving_system_equations.pdf') }}" target="_blank">Скачать</a></td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Статья</td>
            <td>Суммарная научная публикация по вышеописанным исследованиям</td>
            <td><a href="{{ url_for('static', filename='documents/article.pdf') }}" target="_blank">Скачать</a></td>
        </tr>
        </tbody>
    </table>
{% endblock %}