<div class="modal fade" id="petal" tabindex="-1" aria-labelledby="petalModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="petalModalLabel">Изменения системы</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% for i in range(1, 6) %}
                    <img src="{{ url_for('static', filename='petal_graphs/{calculation_id}/{index}.png'.format(calculation_id=calculation_id, index=i)) }}"
                         style="margin-bottom: 5px;"
                         class="img-fluid thumbnail zoom">
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>