{% extends "base.html" %}

{% block title %}
    Начальные значения переменных
{% endblock %}

{% block body %}
    <!--Include form-->
    <form method="POST" action="{{ url_for('calculation.final_setup') }}">
        {% for i in range(1, 16) %}
            <h3>Начальное значение переменной L{{ i }}</h3>
            <div class="form-group">
                <label for="L{{ i }}">Значение переменной</label>
                <input type="number"
                       class="form-control"
                       step="any"
                       id="L{{ i }}"
                       name="L{{ i }}"
                       placeholder="L{{ i }}"
                       value="0.5"
                       required>
            </div>
        {% endfor %}

        <button id="calculationButton" type="submit" style="margin-top: 30px; margin-bottom: 15px;" class="btn btn-primary">
            Вычислить
        </button>

        <div id="spinner"
             class="spinner spinner-border text-primary"
             role="status">
        </div>
    </form>
    <!--End include form-->
{% endblock %}