{% extends "base_variables.html" %}

{% block title %}
    L2 практичность
{% endblock %}

{% block variable_name %}
    L2 (практичность)
{% endblock %}

{% block variable_graph_image %}
    <img src="{{ url_for('static', filename='images/graphs/L2-graph.png') }}"
         class="img-fluid">
{% endblock %}

{% block variable_form %}
    <!--Include form-->
    {% with lower_bound=7,
            upper_bound=12,
            variable_number=2,
            form_action=url_for('variables.L2') %}
        {% include 'variables/form_component.html' %}
    {% endwith %}
    <!--End include form-->
{% endblock %}