<h1>Отчет по решению для введенных параметров</h1>
<br>

<h3>График решения:</h3>
<div class="row">
    <img src="{{ plot_path }}"
         class="img-fluid thumbnail zoom">
</div>

<h3>График возмущений системы:</h3>
<img src="{{ perturbations_graph_path }}"
     class="img-fluid thumbnail">

<h3>Описание возмущений системы:</h3>
<ul class="list-group list-group-flush">
    <li class="list-group-item">q<sub>1</sub> - опыт разработчиков программного комплекса</li>
    <li class="list-group-item">q<sub>2</sub> - опыт работы эксплуатационного персонала</li>
    <li class="list-group-item">q<sub>3</sub> - трудоемкость разработки программного обеспечения</li>
    <li class="list-group-item">q<sub>4</sub> - курс рубля по отношению к доллару и евро</li>
    <li class="list-group-item">q<sub>5</sub> - деловая репутация организации, в которой осуществляется эксплуатация
        программного комплекса
    </li>
</ul>

<h3>Графики изменений решений системы во времени:</h3>
{% for i in range(1, 6) %}
    <img src="{{ petal_path + i|string + '.png' }}"
         class="img-fluid thumbnail">
{% endfor %}

<h3>Уравнения возмущений системы:</h3>
<img src="{{ perturbations_equations_path }}"
     class="img-fluid thumbnail">

<h3>Решения системы в момент времени t=1</h3>
<table class="table table-striped table-responsive w-100 d-block d-md-table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Значение</th>
    </tr>
    </thead>
    <tbody>
    {% for index, value in t1_solution %}
        <tr>
            <th scope="row">L{{ index + 1 }}</th>
            <td>{{ value }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h3>Введённые полиномиальные коэффициенты</h3>
<table class="table table-striped table-responsive w-100 d-block d-md-table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">A0</th>
        <th scope="col">A1</th>
        <th scope="col">A2</th>
    </tr>
    </thead>
    <tbody>
    {% for function, values in polynomial_coefficients.items() %}
        <tr>
            <th scope="row">{{ function }}</th>
            <td>{{ values.get('A0') }}</td>
            <td>{{ values.get('A1') }}</td>
            <td>{{ values.get('A2') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<h3>Введённые начальные значения переменных</h3>
<table class="table table-striped table-responsive w-100 d-block d-md-table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Значение</th>
    </tr>
    </thead>
    <tbody>
    {% for variable_number, variable_value in initial_variable_values.items() %}
        <tr>
            <th scope="row">{{ variable_number }}</th>
            <td>{{ variable_value }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>